In [1]:
import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn import preprocessing
from sklearn.cross_validation import train_test_split

In [2]:
train_df = pd.read_csv('train.csv')
test_df  = pd.read_csv('test.csv')

In [3]:
train_df.head()

,QuoteNumber,Original_Quote_Date,QuoteConversion_Flag,Field6,Field7,Field8,Field9,Field10,Field11,Field12,...,GeographicField59A,GeographicField59B,GeographicField60A,GeographicField60B,GeographicField61A,GeographicField61B,GeographicField62A,GeographicField62B,GeographicField63,GeographicField64
0,1,2013-08-16,0,B,23,0.9403,0.0006,965,1.0200,N,...,9,9,-1,8,-1,18,-1,10,N,CA
1,2,2014-04-22,0,F,7,1.0006,0.0040,548,1.2433,N,...,10,10,-1,11,-1,17,-1,20,N,NJ
2,4,2014-08-25,0,F,7,1.0006,0.0040,548,1.2433,N,...,15,18,-1,21,-1,11,-1,8,N,NJ
3,6,2013-04-15,0,J,10,0.9769,0.0004,"1,165",1.2665,N,...,6,5,-1,10,-1,9,-1,21,N,TX
4,8,2014-01-25,0,E,23,0.9472,0.0006,"1,487",1.3045,N,...,18,22,-1,10,-1,11,-1,12,N,IL

In [4]:
test_df.head()

,QuoteNumber,Original_Quote_Date,Field6,Field7,Field8,Field9,Field10,Field11,Field12,CoverageField1A,...,GeographicField59A,GeographicField59B,GeographicField60A,GeographicField60B,GeographicField61A,GeographicField61B,GeographicField62A,GeographicField62B,GeographicField63,GeographicField64
0,3,2014-08-12,E,16,0.9364,0.0006,"1,487",1.3045,N,4,...,1,1,-1,1,-1,20,-1,25,Y,IL
1,5,2013-09-07,F,11,0.9919,0.0038,564,1.1886,N,8,...,10,10,-1,5,-1,5,-1,21,N,NJ
2,7,2013-03-29,F,15,0.8945,0.0038,564,1.0670,N,11,...,10,11,-1,20,-1,22,-1,11,N,NJ
3,9,2015-03-21,K,21,0.8870,0.0004,"1,113",1.2665,Y,14,...,8,8,-1,13,-1,8,-1,21,N,TX
4,10,2014-12-10,B,25,0.9153,0.0007,935,1.0200,N,4,...,7,7,-1,3,-1,22,-1,21,N,CA

In [5]:
train_target = train_df['QuoteConversion_Flag'].values
test_index = test_df['QuoteNumber'].values

In [6]:
train_df = train_df.drop(['QuoteNumber', 'QuoteConversion_Flag'], axis=1)
test_df = test_df.drop('QuoteNumber', axis=1)

# Handle Dates

In [7]:
train_df['Date'] = pd.to_datetime(pd.Series(train_df['Original_Quote_Date']))
train_df = train_df.drop('Original_Quote_Date', axis=1)

test_df['Date'] = pd.to_datetime(pd.Series(test_df['Original_Quote_Date']))
test_df = test_df.drop('Original_Quote_Date', axis=1)

train_df['Year']    = train_df['Date'].apply(lambda x: int(str(x)[:4]))
train_df['Month']   = train_df['Date'].apply(lambda x: int(str(x)[5:7]))
train_df['weekday'] = train_df['Date'].dt.dayofweek


test_df['Year']    = test_df['Date'].apply(lambda x: int(str(x)[:4]))
test_df['Month']   = test_df['Date'].apply(lambda x: int(str(x)[5:7]))
test_df['weekday'] = test_df['Date'].dt.dayofweek

train_df = train_df.drop('Date', axis=1)
test_df = test_df.drop('Date', axis=1)

In [8]:
train_df.head()

,Field6,Field7,Field8,Field9,Field10,Field11,Field12,CoverageField1A,CoverageField1B,CoverageField2A,...,GeographicField60B,GeographicField61A,GeographicField61B,GeographicField62A,GeographicField62B,GeographicField63,GeographicField64,Year,Month,weekday
0,B,23,0.9403,0.0006,965,1.0200,N,17,23,17,...,8,-1,18,-1,10,N,CA,2013,8,4
1,F,7,1.0006,0.0040,548,1.2433,N,6,8,6,...,11,-1,17,-1,20,N,NJ,2014,4,1
2,F,7,1.0006,0.0040,548,1.2433,N,7,12,7,...,21,-1,11,-1,8,N,NJ,2014,8,0
3,J,10,0.9769,0.0004,"1,165",1.2665,N,3,2,3,...,10,-1,9,-1,21,N,TX,2013,4,0
4,E,23,0.9472,0.0006,"1,487",1.3045,N,8,13,8,...,10,-1,11,-1,12,N,IL,2014,1,5

In [9]:
test_df.head()

,Field6,Field7,Field8,Field9,Field10,Field11,Field12,CoverageField1A,CoverageField1B,CoverageField2A,...,GeographicField60B,GeographicField61A,GeographicField61B,GeographicField62A,GeographicField62B,GeographicField63,GeographicField64,Year,Month,weekday
0,E,16,0.9364,0.0006,"1,487",1.3045,N,4,4,4,...,1,-1,20,-1,25,Y,IL,2014,8,1
1,F,11,0.9919,0.0038,564,1.1886,N,8,14,8,...,5,-1,5,-1,21,N,NJ,2013,9,5
2,F,15,0.8945,0.0038,564,1.0670,N,11,18,11,...,20,-1,22,-1,11,N,NJ,2013,3,4
3,K,21,0.8870,0.0004,"1,113",1.2665,Y,14,22,15,...,13,-1,8,-1,21,N,TX,2015,3,5
4,B,25,0.9153,0.0007,935,1.0200,N,4,5,4,...,3,-1,22,-1,21,N,CA,2014,12,2

# Fill NA

In [10]:
train_df = train_df.fillna(-1)
test_df  = test_df.fillna(-1)

# Encode NonNumeric columns

In [11]:
for col in train_df.columns:
    if train_df[col].dtype == 'object':
        encoder = preprocessing.LabelEncoder()
        encoder.fit(list(train_df[col].values) + list(test_df[col].values))
        train_df[col] = encoder.transform(list(train_df[col].values))
        test_df[col]  = encoder.transform(list(test_df[col].values))

#  split validation dataset

In [12]:
rng = np.random.RandomState(33)

train_xgb, val_xgb, train_target_xgb, val_target_xgb = train_test_split(train_df, train_target, test_size=0.2, random_state=rng)

In [13]:
train_df.shape

(260753, 299)

In [14]:
train_xgb.shape

(208602, 299)

In [15]:
val_xgb.shape

(52151, 299)

In [16]:
val_target_xgb.shape

(52151,)

# train using xgboost classifier

In [17]:
dtrain = xgb.DMatrix(train_xgb, label=train_target_xgb)
dval  = xgb.DMatrix(val_xgb, label=val_target_xgb)

In [18]:
params = {
    'max_depth': 5,
    'eta': 0.1,
    'silent': 1,
    'objective': "binary:logistic",
    'eval_metric': 'auc',
    'nthread':2
}

num_round = 200
watchlist = [(dtrain, 'train'), (dval, 'evals')]

gbm = xgb.train(params, dtrain, num_round, watchlist)

[0]	train-auc:0.923232	evals-auc:0.923092
[1]	train-auc:0.926509	evals-auc:0.926310
[2]	train-auc:0.931993	evals-auc:0.931905
[3]	train-auc:0.935362	evals-auc:0.935221
[4]	train-auc:0.936529	evals-auc:0.936445
[5]	train-auc:0.937500	evals-auc:0.937384
[6]	train-auc:0.937063	evals-auc:0.937061
[7]	train-auc:0.939114	evals-auc:0.939149
[8]	train-auc:0.939880	evals-auc:0.939795
[9]	train-auc:0.941126	evals-auc:0.941068
[10]	train-auc:0.941619	evals-auc:0.941638
[11]	train-auc:0.942034	evals-auc:0.941985
[12]	train-auc:0.942484	evals-auc:0.942429
[13]	train-auc:0.945010	evals-auc:0.945208
[14]	train-auc:0.945434	evals-auc:0.945623
[15]	train-auc:0.945645	evals-auc:0.945819
[16]	train-auc:0.945894	evals-auc:0.945998
[17]	train-auc:0.946892	evals-auc:0.947022
[18]	train-auc:0.947407	evals-auc:0.947592
[19]	train-auc:0.947899	evals-auc:0.948131
[20]	train-auc:0.948792	evals-auc:0.949086
[21]	train-auc:0.949619	evals-auc:0.949890
[22]	train-auc:0.950266	evals-auc:0.950474
[23]	train-auc:0.950785	evals-auc:0.950918
[24]	train-auc:0.951396	evals-auc:0.951504
[25]	train-auc:0.951999	evals-auc:0.952211
[26]	train-auc:0.952444	evals-auc:0.952580
[27]	train-auc:0.952732	evals-auc:0.952816
[28]	train-auc:0.953020	evals-auc:0.953132
[29]	train-auc:0.953722	evals-auc:0.953919
[30]	train-auc:0.954011	evals-auc:0.954164
[31]	train-auc:0.954224	evals-auc:0.954389
[32]	train-auc:0.954311	evals-auc:0.954498
[33]	train-auc:0.954735	evals-auc:0.954887
[34]	train-auc:0.954988	evals-auc:0.955108
[35]	train-auc:0.955149	evals-auc:0.955314
[36]	train-auc:0.955222	evals-auc:0.955346
[37]	train-auc:0.955652	evals-auc:0.955708
[38]	train-auc:0.955851	evals-auc:0.955880
[39]	train-auc:0.956075	evals-auc:0.956088
[40]	train-auc:0.956413	evals-auc:0.956411
[41]	train-auc:0.956658	evals-auc:0.956614
[42]	train-auc:0.956865	evals-auc:0.956814
[43]	train-auc:0.957080	evals-auc:0.957054
[44]	train-auc:0.957231	evals-auc:0.957196
[45]	train-auc:0.957233	evals-auc:0.957197
[46]	train-auc:0.957553	evals-auc:0.957435
[47]	train-auc:0.957622	evals-auc:0.957494
[48]	train-auc:0.957705	evals-auc:0.957571
[49]	train-auc:0.957903	evals-auc:0.957773
[50]	train-auc:0.958330	evals-auc:0.958128
[51]	train-auc:0.958375	evals-auc:0.958197
[52]	train-auc:0.958627	evals-auc:0.958425
[53]	train-auc:0.958779	evals-auc:0.958568
[54]	train-auc:0.958800	evals-auc:0.958571
[55]	train-auc:0.958883	evals-auc:0.958659
[56]	train-auc:0.959014	evals-auc:0.958790
[57]	train-auc:0.959142	evals-auc:0.958880
[58]	train-auc:0.959272	evals-auc:0.959021
[59]	train-auc:0.959343	evals-auc:0.959083
[60]	train-auc:0.959518	evals-auc:0.959261
[61]	train-auc:0.959555	evals-auc:0.959289
[62]	train-auc:0.959916	evals-auc:0.959559
[63]	train-auc:0.960080	evals-auc:0.959687
[64]	train-auc:0.960325	evals-auc:0.959863
[65]	train-auc:0.960606	evals-auc:0.960094
[66]	train-auc:0.960659	evals-auc:0.960161
[67]	train-auc:0.960755	evals-auc:0.960212
[68]	train-auc:0.960913	evals-auc:0.960302
[69]	train-auc:0.961025	evals-auc:0.960377
[70]	train-auc:0.961220	evals-auc:0.960538
[71]	train-auc:0.961310	evals-auc:0.960610
[72]	train-auc:0.961483	evals-auc:0.960733
[73]	train-auc:0.961529	evals-auc:0.960765
[74]	train-auc:0.961730	evals-auc:0.960913
[75]	train-auc:0.961800	evals-auc:0.960955
[76]	train-auc:0.961930	evals-auc:0.961049
[77]	train-auc:0.962155	evals-auc:0.961208
[78]	train-auc:0.962260	evals-auc:0.961293
[79]	train-auc:0.962348	evals-auc:0.961342
[80]	train-auc:0.962427	evals-auc:0.961374
[81]	train-auc:0.962449	evals-auc:0.961397
[82]	train-auc:0.962604	evals-auc:0.961460
[83]	train-auc:0.962763	evals-auc:0.961591
[84]	train-auc:0.962913	evals-auc:0.961679
[85]	train-auc:0.963009	evals-auc:0.961760
[86]	train-auc:0.963168	evals-auc:0.961826
[87]	train-auc:0.963217	evals-auc:0.961852
[88]	train-auc:0.963334	evals-auc:0.961951
[89]	train-auc:0.963394	evals-auc:0.961987
[90]	train-auc:0.963533	evals-auc:0.962102
[91]	train-auc:0.963572	evals-auc:0.962124
[92]	train-auc:0.963642	evals-auc:0.962186
[93]	train-auc:0.963692	evals-auc:0.962210
[94]	train-auc:0.963839	evals-auc:0.962333
[95]	train-auc:0.963922	evals-auc:0.962339
[96]	train-auc:0.964038	evals-auc:0.962389
[97]	train-auc:0.964140	evals-auc:0.962447
[98]	train-auc:0.964202	evals-auc:0.962469
[99]	train-auc:0.964292	evals-auc:0.962555
[100]	train-auc:0.964337	evals-auc:0.962568
[101]	train-auc:0.964437	evals-auc:0.962645
[102]	train-auc:0.964493	evals-auc:0.962672
[103]	train-auc:0.964539	evals-auc:0.962720
[104]	train-auc:0.964659	evals-auc:0.962822
[105]	train-auc:0.964717	evals-auc:0.962849
[106]	train-auc:0.964766	evals-auc:0.962868
[107]	train-auc:0.964869	evals-auc:0.962931
[108]	train-auc:0.964969	evals-auc:0.963002
[109]	train-auc:0.965119	evals-auc:0.963083
[110]	train-auc:0.965215	evals-auc:0.963128
[111]	train-auc:0.965301	evals-auc:0.963202
[112]	train-auc:0.965381	evals-auc:0.963221
[113]	train-auc:0.965423	evals-auc:0.963261
[114]	train-auc:0.965436	evals-auc:0.963261
[115]	train-auc:0.965462	evals-auc:0.963275
[116]	train-auc:0.965547	evals-auc:0.963302
[117]	train-auc:0.965669	evals-auc:0.963383
[118]	train-auc:0.965773	evals-auc:0.963425
[119]	train-auc:0.965822	evals-auc:0.963453
[120]	train-auc:0.965849	evals-auc:0.963463
[121]	train-auc:0.965931	evals-auc:0.963491
[122]	train-auc:0.965986	evals-auc:0.963512
[123]	train-auc:0.966102	evals-auc:0.963552
[124]	train-auc:0.966142	evals-auc:0.963563
[125]	train-auc:0.966312	evals-auc:0.963769
[126]	train-auc:0.966363	evals-auc:0.963802
[127]	train-auc:0.966396	evals-auc:0.963807
[128]	train-auc:0.966466	evals-auc:0.963823
[129]	train-auc:0.966590	evals-auc:0.963907
[130]	train-auc:0.966653	evals-auc:0.963900
[131]	train-auc:0.966745	evals-auc:0.963913
[132]	train-auc:0.966777	evals-auc:0.963927
[133]	train-auc:0.966855	evals-auc:0.963945
[134]	train-auc:0.967037	evals-auc:0.964134
[135]	train-auc:0.967076	evals-auc:0.964154
[136]	train-auc:0.967121	evals-auc:0.964182
[137]	train-auc:0.967162	evals-auc:0.964204
[138]	train-auc:0.967251	evals-auc:0.964202
[139]	train-auc:0.967329	evals-auc:0.964246
[140]	train-auc:0.967415	evals-auc:0.964290
[141]	train-auc:0.967606	evals-auc:0.964428
[142]	train-auc:0.967688	evals-auc:0.964451
[143]	train-auc:0.967716	evals-auc:0.964457
[144]	train-auc:0.967801	evals-auc:0.964496
[145]	train-auc:0.967872	evals-auc:0.964536
[146]	train-auc:0.967908	evals-auc:0.964558
[147]	train-auc:0.967920	evals-auc:0.964559
[148]	train-auc:0.968062	evals-auc:0.964657
[149]	train-auc:0.968126	evals-auc:0.964682
[150]	train-auc:0.968195	evals-auc:0.964727
[151]	train-auc:0.968262	evals-auc:0.964741
[152]	train-auc:0.968319	evals-auc:0.964770
[153]	train-auc:0.968360	evals-auc:0.964797
[154]	train-auc:0.968394	evals-auc:0.964800
[155]	train-auc:0.968463	evals-auc:0.964844
[156]	train-auc:0.968543	evals-auc:0.964886
[157]	train-auc:0.968616	evals-auc:0.964942
[158]	train-auc:0.968681	evals-auc:0.964949
[159]	train-auc:0.968758	evals-auc:0.964964
[160]	train-auc:0.968826	evals-auc:0.964978
[161]	train-auc:0.968899	evals-auc:0.964996
[162]	train-auc:0.968927	evals-auc:0.965015
[163]	train-auc:0.968995	evals-auc:0.965052
[164]	train-auc:0.969028	evals-auc:0.965062
[165]	train-auc:0.969067	evals-auc:0.965070
[166]	train-auc:0.969138	evals-auc:0.965096
[167]	train-auc:0.969153	evals-auc:0.965105
[168]	train-auc:0.969275	evals-auc:0.965206
[169]	train-auc:0.969306	evals-auc:0.965199
[170]	train-auc:0.969376	evals-auc:0.965222
[171]	train-auc:0.969451	evals-auc:0.965240
[172]	train-auc:0.969520	evals-auc:0.965256
[173]	train-auc:0.969595	evals-auc:0.965257
[174]	train-auc:0.969655	evals-auc:0.965257
[175]	train-auc:0.969729	evals-auc:0.965284
[176]	train-auc:0.969758	evals-auc:0.965287
[177]	train-auc:0.969792	evals-auc:0.965311
[178]	train-auc:0.969810	evals-auc:0.965308
[179]	train-auc:0.969839	evals-auc:0.965316
[180]	train-auc:0.969879	evals-auc:0.965310
[181]	train-auc:0.969950	evals-auc:0.965339
[182]	train-auc:0.970022	evals-auc:0.965350
[183]	train-auc:0.970087	evals-auc:0.965355
[184]	train-auc:0.970138	evals-auc:0.965351
[185]	train-auc:0.970204	evals-auc:0.965356
[186]	train-auc:0.970233	evals-auc:0.965356
[187]	train-auc:0.970313	evals-auc:0.965447
[188]	train-auc:0.970368	evals-auc:0.965455
[189]	train-auc:0.970450	evals-auc:0.965495
[190]	train-auc:0.970468	evals-auc:0.965500
[191]	train-auc:0.970541	evals-auc:0.965517
[192]	train-auc:0.970596	evals-auc:0.965517
[193]	train-auc:0.970673	evals-auc:0.965519
[194]	train-auc:0.970734	evals-auc:0.965549
[195]	train-auc:0.970782	evals-auc:0.965596
[196]	train-auc:0.970837	evals-auc:0.965593
[197]	train-auc:0.970888	evals-auc:0.965582
[198]	train-auc:0.970921	evals-auc:0.965580
[199]	train-auc:0.970983	evals-auc:0.965575

# Predict

In [20]:
dtest  = xgb.DMatrix(test_df)
preds = gbm.predict(dtest)

In [21]:
submit_df = pd.DataFrame({"QuoteNumber": test_index, "QuoteConversion_Flag": preds})
submit_df.to_csv('homesite.csv', index=False)